@import "tailwindcss";

@theme {
  --color-indigo-600: #4f46e5;
  --color-indigo-500: #6366f1;
  --color-emerald-900: #064e3b;
  --color-emerald-400: #34d399;
}

/* Custom Scrollbar for Configurator */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
